.title {
    display: flex;
    justify-content: center;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.gridContainer {
    display: grid;
    /* background-color: blue; */
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.gridContainer div {
    /* background-color: crimson; */
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.image {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}