.fnd {
  width: 100vw;
  height: auto;
}

.fondo{
  background: linear-gradient(180deg, #6871ee 0%, #3ce2df 100%)
}

.banner {
  padding: 20px 10px;
  margin: 3% 12% 0% 4%;
  border-radius: 2rem;
  display: flex;
}

.image {
  width: 26rem;
  height: 26rem;
}

.float {
  background-color: #9eeafc;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.float1 {
  margin-left: 6rem;
  background-color: #9eeafc;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  text-align: center;
}

.h3 {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.title {
  margin-left: 1rem;
}

.text {
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.boton {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  background: linear-gradient(#a4e7ee, #56a0b1);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 15rem;
  /* margin-right: 5rem; */
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.boton:hover {
  -webkit-box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.4); 
  box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.4);
}

.boton:active {
  box-shadow: 0 0.3em 1em -0.5em #1aacd898;
}

.specialties{
  padding: 5px;
  background: #D0E4F5 url("../../image/img1.jpg") no-repeat fixed 50% 50%;
  background-size: 100% 100%; 
  opacity: 0.7;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #515be7;
  filter: drop-shadow(5px 10px 4px #2c2c38);
  text-align: center;
}

.infoAboutUs{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 auto; */
  background: linear-gradient(180deg, rgba(25,228,240,0.9360119047619048) 40%, rgba(0,35,255,0.927608543417367) 85%);
}

.mission{
  margin: 5%;
}

.mission>p{
  margin: 0% 50% 0% 5%;
  text-align: left;
}

.imgMision{
  width: 400px;
  float: right;
  margin-right: 8em;
  -webkit-box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.8); 
  box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.8);
  border-radius: 10%;
}

.vision{
  text-align: right;
}

.imgVision{
  width: 450px;
  float: left;
  margin-left: 10em;
  -webkit-box-shadow: -5px 5px 15px 3px rgba(0,0,0,0.8); 
  box-shadow: -5px 5px 15px 3px rgba(0,0,0,0.8);
  border-radius: 20px;
}

.values{
  text-align: left;
}

.value>p{
  text-align: center;
}

ul>li{
  line-height: 2;
  list-style-type: none;
  text-align: left;
}

ul>li:before{
  content:"★ "
}

.imgValues{
  width: 300px;
  float: right;
  margin-right: 18em;
  -webkit-box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.8); 
  box-shadow: 2px 4px 15px 3px rgba(0,0,0,0.8);
  border-radius: 10%;
}






/*
.imgpie{
   height: 2rem;
   width: 100vw;
   margin-bottom: 0;
}

.imgpie {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../image/pieDePagina.png);
  background-size: cover;
  background-position: center;
}

.piepagina {
  width: 100%;
}

icon {
  margin-left: 2rem;
}

a {
  cursor: pointer;
}

.reds {
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.contac {
  text-align: center;
}

.redes {
  margin: 0 1rem;
}

.signin {
  margin: 0 2rem;
}

.signup {
  margin: 0 1rem;
  padding-right: 4rem;
}

.help {
  margin: 0 1rem;
  padding-right: 3rem;
}

.copy {
  margin: 0 1rem;
  padding-right: 3rem;
  margin-top: 4rem;
} */