.fnd {
  width: 100vw;
  height: auto;
}

.fondo {
  margin: 3% 8% 0% 1%;
  border-radius: 2rem;
  display: flex;
}

.image {
  width: 26rem;
  height: 26rem;
}

.float {
  background-color: #9eeafc;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
}

.float1 {
  margin-left: 6rem;
  background-color: #9eeafc;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.h3 {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.title {
  margin-left: 1rem;
}

.text {
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.boton {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  background: linear-gradient(#a4e7ee, #56a0b1);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.boton:hover {
  -webkit-box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.4); 
  box-shadow: 6px 6px 12px 4px rgba(0,0,0,0.4);
}

.boton:active {
  box-shadow: 0 0.3em 1em -0.5em #1aacd898;
}


/*
.imgpie{
   height: 2rem;
   width: 100vw;
   margin-bottom: 0;
}
*/

.imgpie {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../image/pieDePagina.png);
  background-size: cover;
  background-position: center;
}

/* .piepagina {
  width: 100%;
}

icon {
  margin-left: 2rem;
}

a {
  cursor: pointer;
}

.reds {
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.contac {
  text-align: center;
}

.redes {
  margin: 0 1rem;
}

.signin {
  margin: 0 2rem;
}

.signup {
  margin: 0 1rem;
  padding-right: 4rem;
}

.help {
  margin: 0 1rem;
  padding-right: 3rem;
}

.copy {
  margin: 0 1rem;
  padding-right: 3rem;
  margin-top: 4rem;
} */