.userList{
    flex: 8;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListPic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit:cover;
    /* margin-right: 10px; */
}