.chart{
    margin: 30px 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
}

.chartTitle{
    margin-bottom: 40px;
}