.fnd{
    width: 100vw;
    height: auto;
}

.fondo{
   margin: 1% 5%;
   border-radius: 2rem;
   display: flex;
}

.image{
    width: 26rem;
    height: 26rem;
}

.float{
     background-color: #9eeafc;
     border-bottom-right-radius: 3rem;
     border-top-right-radius: 3rem;
}

.float1{
  margin-left: 6rem;
  background-color: #9eeafc;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.h3{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

.title{
  margin-left: 1rem;
}

.text{
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.boton {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(#BBF3F9, #7CD1E5);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10rem;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  
  .boton:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #2596ff98;
  }
  
  .boton:active {
    box-shadow: 0 0.3em 1em -0.5em #00c3ff98;
  }

--------------------------------
.imgpie{
   height: 2rem;
   width: 100vw;
   margin-bottom: 0;
}


.piepagina{
    width: 100%;
}