.sidebar{
    flex: 1.4;
    height: 100%;
    background-color: rgb(215, 252, 241);
    position: sticky;
    top: 50px;
    border-radius: 10px;
}

.sidebarWrapper{
    padding: 5px 10px;
    margin: 0px 10px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 14px;
    color: rgb(75, 74, 74)
}

.sidebarList{
    list-style: none;
    padding: 5px;
    margin: 0;
}

.link, .link.active, .link:hover{
    text-decoration: none;
    color: #555;
    text-align:left;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items:left;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(175, 245, 224);
    color: #555;
}

.sidebarIcon{
    align-items: center;
    margin-right: 10px;
}